body {
    background-color: #87CEEB; /* Celeste */
  }
  
  h1, h2, h3 {
    color: #00008B; /* Azul oscuro */
  }
  
  p {
    color: #0000FF; /* Azul */
  }
  
  a {
    color: #00008B; /* Azul oscuro */
    text-decoration: none;
  }
  
  a:hover {
    color: #0000FF; /* Azul */
    text-decoration: underline;
  }
  
  header, footer {
    background-color: #00008B; /* Azul oscuro */
    color: #FFFFFF; /* Blanco */
  }
  